#box{
    font-size: xx-large;
    text-transform: uppercase;
    word-spacing: 40px;
    background-color:aqua;
    text-decoration-color: aliceblue;
    width: 50%;
}
.aa{
    text-align: center;

}